<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <sources>
      <source name="RoutePlannerConsoleApp" switchName="switch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <clear/>
          <add name="consoleListener"/>
          <add name="textWriterListener" />
        </listeners>
      </source>
      <source name="Cities" switchName="switch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <clear/>
          <add name="consoleListener" />
          <add name="textWriterListener"/>
        </listeners>
      </source>
      <source name="Routes" switchName="switch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <clear/>
          <add name="textWriterListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="routeplanner.log"/>
    </sharedListeners>
    <switches>
      <add name="switch" value="Critical" />
    </switches>
  </system.diagnostics>
</configuration>